.DS_Store
Thumbs.db
db.json
*.log
node_modules/
public/
.deploy*/
_multiconfig.yml
.obsidian
delete_source
image_source
__pycache__
.deploy_git
source/min/
# 下面的目录由各自的脚本提交到 git
themes/anzhiyu
dependencies/