
:root {
    /* 按钮距离底部的距离，默认为 `1rem` */
    --dify-chatbot-bubble-button-bottom: 4.5rem;
    /* 按钮距离右侧的距离，默认为 `1rem` */
    --dify-chatbot-bubble-button-right: unset;
    /* 按钮距离左侧的距离，默认为 `unset` */
    --dify-chatbot-bubble-button-left: 1.5rem;
    /* 按钮距离顶部的距离，默认为 `unset` */
    --dify-chatbot-bubble-button-top: unset;
    /* 按钮背景颜色，默认为 `#155EEF` */
    --dify-chatbot-bubble-button-bg-color: #155EEF;
    /* 按钮宽度，默认为 `50px` */
    --dify-chatbot-bubble-button-width: 35px;
    /* 按钮高度，默认为 `50px` */
    --dify-chatbot-bubble-button-height: 35px;
    /* 按钮边框半径，默认为 `25px` */
    --dify-chatbot-bubble-button-border-radius: 30px;
    /* 按钮盒阴影，默认为 `rgba(0, 0, 0, 0.2) 0px 4px 8px 0px)` */
    --dify-chatbot-bubble-button-box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px 0px;
    /* 按钮悬停变换，默认为 `scale(1.1)` */
    --dify-chatbot-bubble-button-hover-transform: scale(1.1);
  }       